section.dg-sp-body 
	.container 
		.row 
			.col-md-4 
				h3 Customer Service 
				ul 
					li
						a(href="#") Care Info 
					li
						a(href="#") Shopping Guide
					li
						a(href="#") Terms and Conditions
					li
						a(href="#") Privacy Policy
					li.active
						a(href="#") FAQ
			.col-md-8
				h2 Customer FAQ 
				.sp-item
					.question
						h4 Where can I buy Heath Ceramics products?
						i.lnr.lnr-chevron-up
					.conten 
						p It’s our aim to ensure your satisfaction with your order. We are happy to exchange items within 1 week of receiving your order for store credit or exchange as long as they have not been used. Unless your item arrived defective, you will be responsible for the shipping cost and the item’s safe return. A 15% restocking fee may apply in select situations. As a small business, we cannot offer cash refunds but we’ll make sure you end up happy.
						br
						p Colors can look different from device to device and if you would like to see a sample of a color before buying, we recommend purchasing a ramekin or small plate before buying a set. Our glazes are formulated in house and applied by hand, so a small amount of variation is to be expected and embraced as part of the process.
				.sp-item
					.question
						h4 The item I want to purchase is out of stock. When can I expect it to be available?
						i.lnr.lnr-chevron-up
					.conten 
						p It’s our aim to ensure your satisfaction with your order. We are happy to exchange items within 1 week of receiving your order for store credit or exchange as long as they have not been used. Unless your item arrived defective, you will be responsible for the shipping cost and the item’s safe return. A 15% restocking fee may apply in select situations. As a small business, we cannot offer cash refunds but we’ll make sure you end up happy.
						br
						p Colors can look different from device to device and if you would like to see a sample of a color before buying, we recommend purchasing a ramekin or small plate before buying a set. Our glazes are formulated in house and applied by hand, so a small amount of variation is to be expected and embraced as part of the process.
				.sp-item
					.question
						h4 I noticed that some of the Coupe dinnerware glazes are no longer available. Why?
						i.lnr.lnr-chevron-up
					.conten 
						p It’s our aim to ensure your satisfaction with your order. We are happy to exchange items within 1 week of receiving your order for store credit or exchange as long as they have not been used. Unless your item arrived defective, you will be responsible for the shipping cost and the item’s safe return. A 15% restocking fee may apply in select situations. As a small business, we cannot offer cash refunds but we’ll make sure you end up happy.
						br
						p Colors can look different from device to device and if you would like to see a sample of a color before buying, we recommend purchasing a ramekin or small plate before buying a set. Our glazes are formulated in house and applied by hand, so a small amount of variation is to be expected and embraced as part of the process.
				.sp-item
					.question
						h4 I ordered the wrong item, can I exchange it?
						i.lnr.lnr-chevron-up
					.conten 
						p It’s our aim to ensure your satisfaction with your order. We are happy to exchange items within 1 week of receiving your order for store credit or exchange as long as they have not been used. Unless your item arrived defective, you will be responsible for the shipping cost and the item’s safe return. A 15% restocking fee may apply in select situations. As a small business, we cannot offer cash refunds but we’ll make sure you end up happy.
						br
						p Colors can look different from device to device and if you would like to see a sample of a color before buying, we recommend purchasing a ramekin or small plate before buying a set. Our glazes are formulated in house and applied by hand, so a small amount of variation is to be expected and embraced as part of the process.
