section.dg-about
	.container 
		.row 
			.col
				.about-title 
					h4 We create our very own and unique glazesus 
					h2 Dong Gia Enterprise 
					p Dong Gia Enterprise is specialized in handcrafted high-quality reactive firing ceramics. Reactive firing technique bears with it the breath of history and has been around for more than 1000 years. However, it fades away gradually since the industrial revolution. 
		.row 
			.col-md-6.col-lg-4.about-item 
				img(src="./img/icon/i-1.png", alt="") 
				h3 40 years of experience of reactive firing ceramics 
			.col-md-6.col-lg-4.about-item 
				img(src="./img/icon/i-2.png", alt="") 
				h3 High firing temperature, 1300 degree Celsius
			.col-md-6.col-lg-4.about-item 
				img(src="./img/icon/i-3.png", alt="") 
				h3 Handcrafted and high quality with  unique glazes
			.col-md-6.col-lg-4.about-item 
				img(src="./img/icon/i-4.png", alt="") 
				h3 A passion for beauty connect  the East and the West
			.col-md-6.col-lg-4.about-item 
				img(src="./img/icon/i-5.png", alt="") 
				h3 Easy to use in everyday life, suitable for different cuisine styles
			.col-md-6.col-lg-4.about-item 
				img(src="./img/icon/i-6.png", alt="") 
				h3 Made with in - depth knowledge and high aesthetic