extends ../_layout.pug
block var
	- var title = "About"
	- var name = "about"
block main
	include ../../components/about/a-1/index.pug
	include ../../components/about/a-2/index.pug
	include ../../components/about/a-3/index.pug
	include ../../components/about/a-4/index.pug
	include ../../components/about/a-5/index.pug