section.dg-sp-body 
	.container 
		.row 
			.col-md-4 
				h3 Customer Service 
				ul 
					li
						a(href="#") Care Info 
					li
						a(href="#") Shopping Guide
					li.active
						a(href="#") Terms and Conditions
					li
						a(href="#") Privacy Policy
					li
						a(href="#") FAQ
			.col-md-8
				h2 Terms and Conditions 
				h5 By accessing our website, you have agreed to these terms. The website reserves the right to change, modify, add or discontinue any part of the Terms and Conditions of Use at any time. Changes take effect immediately upon posting on the site without prior notice. And when you continue to use the site, after the change in terms and conditions posted, you agree to the changes.
				br 
				h5 Please check regularly to update our changes. 
				br 
				h4 1. User's Guide to the web 
				p Upon entering our web site, the user must be at least 18 years old or under the supervision of a parent or legal guardian 
				p We grant you a license so you can shop on the web under the terms and conditions of use. 
				p It is strictly forbidden to use any part of this website for commercial purposes or on behalf of any third partwithout our written permission. If you violate any of these terms, we will cancel your license without notice.
				p This site is only used to provide product information, but we are not a manufacturer so the comments displayed on the web are the personal opinions of our customers, not ours.
				p You must register an account with credentials about yourself and must update if there are any changes. Each visitor is responsible for their password, account and activity on the web. Furthermore, you must notify us when your account is accessed without permission. We do not accept any liability whatsoever, whether direct or indirect, for damages or losses caused by non-compliance.
				p During the registration process, you agree to receive emails from the website. Then, if you do not want to continue to receive mail, you can refuse by clicking the link at the bottom of every email ad.
				br 
				h4 2. Accept orders and prices 
				p We reserve the right to refuse or cancel your order for any reason at any time. We can ask more about phone number and address before ordering.
				p We are committed to providing the most accurate price information to consumers. However, mistakes are sometimes made, for example, if the price of the product is not displayed correctly on the website or the price is incorrect, we will contact the instructions or notice of cancellation. that's for you. We also reserve the right to refuse or cancel any order whether or not it has been or has not been claimed.
				br 
				h4 3. Brand and copyright
				p All intellectual property rights (whether registered or unregistered), information content and all design, text, graphics, software, images, video, music, sound, compilations Software, source code and basic software are our assets. All content of the site is protected by Vietnam's copyright laws and international conventions. Copyright reserved.
				br 
				h4 4. Jurisdiction
				p The terms, conditions and contents of this website are governed by the laws of Vietnam and the courts in Vietnam will settle any disputes arising out of the unauthorized use of this site.
				br 
				h4 5. Privacy Policy 
				p Our website values ​​the confidentiality of information and uses best practices to protect your information and payment. Your information during the payment process will be encrypted for your safety. After you complete the order process, you will exit safety mode.
				p You may not use any other program, tool or other means to interfere with the system or alter the data structure. Websites also prohibit the spreading, propagation, or encouragement of any activity that interferes with, sabotaging or infiltrating system data. Individuals or organizations in violation will be deprived of all rights and will be prosecuted if necessary.
				p All transaction information will be kept confidential, but in case of legal requirement, we will be required to provide this information to law enforcement agencies.
				br 
				h4 6. Change, cancel transaction at website
				h5 In any case, the customer has the right to terminate the transaction if the following measures are taken: 
				p Notify us of cancellations via hotline 028.62819826. 
				p Return goods received but not used or enjoy any benefits from such goods (as specified in the return policy).