<?xml version="1.0" encoding="utf-8" ?>
<settings>
  
  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <add name="Banner slide" value="1" resourcefile="" />
    <add name="Banner đối tác" value="2" resourcefile="" />
    <add name="Banner home" value="2" resourcefile="" />
  </position>
  
</settings>