section.dg-about-profile
	.container
		.row
			.col.profile-title 
				h2 Our Profile 
				p Designing, making, and selling goods of timeless design and uncompromising integrity — made thoughtfully, honestly, and with pride — to be enjoyed with similar intention 
				.button 
					.button-left.active 
						a(href="#") view more
					span or 
					.button-right
						a(href="#") download profile
				.video 
					a(href="https://www.youtube.com/watch?v=JMwvhYdLd0E" data-fancybox)
						img(src="./img/Collection/c-video-1.jpg", alt="") 
						.button-video 
							img(src="./img/icon/video.png", alt="")

