<?xml version="1.0" encoding="utf-8" ?>
<cssfiles>
  <file cssvpath="/App_Themes/toolbar.css" imagebasevpath="/App_Themes/">none</file>
  <file cssvpath="/ClientScript/fancybox/jquery.fancybox.css" imagebasevpath="/ClientScript/fancybox/">none</file>
  <file>css/global.min.css</file>
  <file>css/main.min.css</file>
</cssfiles>