section.dg-colection-body 
	.container 
		h2 Glaze Collection 
		p Please Choose a colour to see The whole range 
		.row 
			.col-6.col-lg-4.colection-item 
				a(href="#") 
					.img 
						img(src="./img/Collection/colection-1.png", alt="") 
						h3 Aqua 
			.col-6.col-lg-4.colection-item 
				a(href="#") 
					.img 
						img(src="./img/Collection/colection-2.png", alt="") 
						h3 Maple Rose
			.col-6.col-lg-4.colection-item 
				a(href="#") 
					.img 
						img(src="./img/Collection/colection-3.png", alt="") 
						h3 Stoneware
