section.dg-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide 
				a(href="javascript:void(0)")
					.img
						img(src="./img/banner/b-1.jpg", alt="")
						.banner-title 
							h1 Dong Gia Enterprise 
							p The specialized in handcrafted high-quality reactive firing ceramics
			.swiper-slide 
				a(href="javascript:void(0)")
					.img
						img(src="./img/banner/b-1.jpg", alt="")
						.banner-title 
							h1 Dong Gia Enterprise 
							p The specialized in handcrafted high-quality reactive firing ceramics
			.swiper-slide 
				a(href="javascript:void(0)")
					.img
						img(src="./img/banner/b-1.jpg", alt="")
						.banner-title 
							h1 Dong Gia Enterprise 
							p The specialized in handcrafted high-quality reactive firing ceramics