section.dg-collection
	.container 
		.row 
			.col-sm-6.col-lg-4.collection-item 
				a(href="#")
					.img
						img(src="./img/Collection/c-1.png", alt="")
						.conten 
							h3 Celadon Collection
			.col-sm-6.col-lg-4.collection-item 
				a(href="#")
					.img
						img(src="./img/Collection/c-2.png", alt="")
						.conten 
							h3 Ocean Waves Collection
			.col-sm-6.col-lg-4.collection-item 
				a(href="#")
					.img
						img(src="./img/Collection/c-3.png", alt="")
						.conten 
							h3 Green Of The Earth Collection
			.col-sm-6.col-lg-4.collection-item 
				a(href="#")
					.img
						img(src="./img/Collection/c-4.png", alt="")
						.conten 
							h3 Crystal Green Tea Set
			.col-sm-6.col-lg-4.collection-item 
				a(href="#")
					.img
						img(src="./img/Collection/c-5.png", alt="")
						.conten 
							h3 Gold Emulsion Vase And Temple Box S2
			.col-sm-6.col-lg-4.collection-item 
				a(href="#")
					.img
						img(src="./img/Collection/c-6.png", alt="")
						.conten 
							h3 Ocean Waves Novelty Vase
