<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="gallary.xslt" name="gallary"></templatelist>
  <templatelist xsltname="Gallery.xslt" name="DS hinh anh"></templatelist>

  <position>
    <add name="Trang chủ" value="1" resourcefile="" />
  </position>
</templates>