extends ../_layout.pug
block var
	- var title = "About"
	- var name = "support_terms"
block main
	include ../../components/about/a-1/index.pug
	include ../../components/support_faqs/s-2/index.pug
	include ../../components/support_terms/s-3/index.pug