extends ../_layout.pug
block var
	- var title = "About"
	- var name = "contact"
block main
	include ../../components/about/a-1/index.pug
	include ../../components/catalogue/c-2/index.pug
	include ../../components/contact/c-1/index.pug
	include ../../components/contact/c-2/index.pug