section.dg-contact
	.container 
		h2 Dong Gia Ceramics & Déco Object Co., Ltd.  
		.row 
			.col.col-lg-4.contact-item 
				.item
					h3 Ho CHi Minh Store
					h5 Showroom
					p 114 Xuan Thuy, W.Thao Dien, Dis.2, HCMC
					p Tel: +84 2862 960 147
					a(href="#") View map 
						i.lnr.lnr-arrow-right
					h5 Office
					p 54 Nguyen Cu, W.Thao Dien, Dis.2, HCMC
					p Tel: +84 2826 829 826
					a(href="#") View map 
						i.lnr.lnr-arrow-right
				.item
					h3 Retails & Warehouse
					a(href="#") View map 
						i.lnr.lnr-arrow-right
					h5 Nguyen My Phung
						br 
						|Ma Kim Ngoc Yen
						br 
						|Do Thi Phuong
					p Email:  phung.nguyen@dong-gia.com 
						br 
						| yen.ngoc@dong-gia.com
					p Tel: +84 2826 829 826
			.col.col-lg-4.contact-item 
				.item
					h3 Hanoi Store
					h5 Office
					p 114 Xuan Thuy, W.Thao Dien, Dis.2, HCMC
					p Tel: +84 2862 960 147
					a(href="#") View map 
						i.lnr.lnr-arrow-right
					h5 Hoang Ngoc Tuan
					p 114 Xuan Thuy, W.Thao Dien, Dis.2, HCMC
					p Tel: +84 2862 960 147
					h5 Lam Thi My
					p 114 Xuan Thuy, W.Thao Dien, Dis.2, HCMC
					p Tel: +84 2862 960 147
				.item
					h3 Accountant
					h5 Le Hong Hieu
					p 114 Xuan Thuy, W.Thao Dien, Dis.2, HCMC
					p Tel: +84 2862 960 147
			.col.col-lg-4.contact-item 
				.item
					img(src="./img/icon/c-1.png", alt="") 
					.thong-tin
						h5 Hotline 
						p 0965 117 114 - 096 373 1139
				.item
					img(src="./img/icon/c-1.png", alt="") 
					.thong-tin
						h5 Hotline 
						p 0965 117 114 - 096 373 1139
				.item
					img(src="./img/icon/c-1.png", alt="") 
					.thong-tin
						h5 Hotline 
						p 0965 117 114 - 096 373 1139
				.item
					img(src="./img/icon/c-1.png", alt="") 
					.thong-tin
						h5 Hotline 
						p 0965 117 114 - 096 373 1139
				.item
					img(src="./img/icon/c-1.png", alt="") 
					.thong-tin
						h5 Hotline 
						p 0965 117 114 - 096 373 1139