section.dg-catalogue-body 
	.container 
		h2 Catalogue 
		.row 
			.col-md-6.catalogue-item 
				a(href="#")
					.img
						img(src="./img/catalogue/c-1.jpg", alt="") 
					h3 Dong Gia’s Gift Sets 
			.col-md-6.catalogue-item 
				a(href="#")
					.img
						img(src="./img/catalogue/c-2.jpg", alt="") 
					h3 100 Artists - 1000 Cups
			.col-md-6.catalogue-item 
				a(href="#")
					.img
						img(src="./img/catalogue/c-3.jpg", alt="") 
					h3 CLive Bowen at 70
			.col-md-6.catalogue-item 
				a(href="#")
					.img
						img(src="./img/catalogue/c-4.jpg", alt="") 
					h3 Ceramics Technical Catalog
			.col-md-6.catalogue-item 
				a(href="#")
					.img
						img(src="./img/catalogue/c-5.jpg", alt="") 
					h3 European Furniture & Decorative ArtsDong Gia’s Gift Sets 
			.col-md-6.catalogue-item 
				a(href="#")
					.img
						img(src="./img/catalogue/c-6.jpg", alt="") 
					h3 Hand crafted ceramic serving - wave for any occasion
		.pages
			.modulepager
				ul.pagination
					li.PagerOtherPageCells.active
						span.SelectedPage(title='Navigate to Page 1') 1
					li.PagerOtherPageCells
						a.ModulePager(title='Navigate to Page 2') 2
					li.PagerOtherPageCells
						a.ModulePager.NextPage(title='Next to Page 2') 3
					li.PagerOtherPageCells
						a.ModulePager.LastPage(title='Navigate to Last Page') 
							i.lnr.lnr-arrow-right
