extends ../_layout.pug

block var
	- var title = "Home"
	- var name = "index"
	- var bodyClass = "index-page"

block main
	include ../../components/index/i-1/index.pug
	include ../../components/index/i-2/index.pug
	include ../../components/index/i-3/index.pug
	include ../../components/index/i-4/index.pug
	include ../../components/index/i-5/index.pug