section.dg-about-team 
	.container 
		h2 Our People 
		p At Dong Gia Enterprise and Déco Objects we pride ourselves on being friendly and helpful. Our staff have enough experience to fill a truck full of Ceramics.
		.row 
			.col.col-lg-6.dg-team-item
				img(src="./img/Collection/c-team-1.png", alt="")
			.col.col-lg-6.dg-team-item 
				.conten 
					.name
						h4 PHAN THI THUY MAI 
						h5 DIRECTOR – FOUNDER 
					br
					p Mrs. Thuy Mai is the Owner of Dong Gia Enterprise and Déco Objects. Graduated in Vietnam from Foreign Trade University in HCM city, she had moved to France for 4 years to join her husband.
					br
					p Coming back from France on 2006 with the dream of making good products from good local material
					br 
					p Mrs. Thuy Mai had fristly set up her family workshop in Go Cong Town, Tien Giang Province firstly to research the use of Vietnamese material in composing glaze for high temperature province. Thuy Mai had got the third price of Research Tan Lap Clay in developing for making ceramics products in Tien Giang Province.
					br 
					p Her dream is making subtainable ceramics products for everyday use. The brandname  Dong Gia means The Home of Occident, was known nowsadays by many  hotels and fine restaurants in Vietanm as well as oversea. The symbol of lotus with a sunset telling the strory of products were born thank to the combination of West and East
			.col.col-lg-6.dg-team-item
				img(src="./img/Collection/c-team-2.png", alt="")
			.col.col-lg-6.dg-team-item 
				.conten 
					.name 
						h4 FRANCOIS JALOV
						h5 CERAMIST ARTIST CO-FOUNDER
					br
					p Starting his career as ceramicst since 1978 aged 18, however Francois had started to paint and sell his painting since the age of 13.
					br
					p During his journey of creation, Ceramics gives him passion of discovering new glazes and form which his had transfered in objects all what he feels of the architect of his surroundings.
					p His paintings are the joys of moment relaxing and playing which colors.
					br 
					p Both of his paintings and ceramics objects have been exhibitied in may countries such as Japan, Vietnam, Germany, Portugal, Egypt, Turkey, Canada etc.
					br 
					p Nowadays, he shares his life between France and Vietnam, he never stop creating for Dong Gia. All lines of Dong Gia’s products as well as beautiful glazes are his creations.
					br 
					p Beside that Francois loves to write and he had published 5 books untill now in which the book UNDER THE SIGN of THE BLUE DRAGON is one of the best seller book about Vietnam.
		.row 
			.col-6.col-lg-3.dg-team-item
				.img 
					img(src="./img/Collection/c-team-3.png", alt="") 
					.team
						h4 FRANCOIS JALOV
						h5 CERAMIST ARTIST CO-FOUNDER 
			.col-6.col-lg-3.dg-team-item
				.img 
					img(src="./img/Collection/c-team-3.png", alt="") 
					.team
						h4 FRANCOIS JALOV
						h5 CERAMIST ARTIST CO-FOUNDER 
			.col-6.col-lg-3.dg-team-item
				.img 
					img(src="./img/Collection/c-team-3.png", alt="") 
					.team
						h4 FRANCOIS JALOV
						h5 CERAMIST ARTIST CO-FOUNDER 
			.col-6.col-lg-3.dg-team-item
				.img 
					img(src="./img/Collection/c-team-3.png", alt="") 
					.team
						h4 FRANCOIS JALOV
						h5 CERAMIST ARTIST CO-FOUNDER 