section.dg-about-form
	.container
		h2 Get In Touch
		p Please feel free to contact us for special requests, collaborations or if you are interested in wholesale.
		.contact-form
				.wrap-form
					div
						.form-group 
							label name
							input(type="text")
						.form-group 
							label Phone number
							input(type="text")
						.form-group 
							label Email
							input(type="text")
						.form-group 
							label Subject
							input(type="text")
						.form-group
							label Message
							textarea
					.form-group.frm-btnwrap
						label
						.frm-btn
							input.btn.frm-btn-submit(type="submit" value="SEND")
							input.btn.frm-btn-reset(type="reset" value="nhap lai")