section.dg-about-client
	.container 
		h2 Our Clients 
		p We work closely with a wide range of clients from different sectors and regions across public sector, private sector and local and national governments.
		.row 
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-1.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-2.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-3.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-2.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-1.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-2.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-3.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-2.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-1.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-2.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-3.png", alt="")
			.col-6.col-sm-4.col-md-3.col-lg-2.client
				a(href="#")
					img(src="./img/logo-kh/l-2.png", alt="")