footer
	.container
		.row.top
			.col-lg-4.col-sm-6.address
				h2.module-title Contact Info
				p 54 Nguyen Cu, Thao Dien Ward, District 2, Ho Chi Minh city, Vietnam
				br
				p Hotline: 
					a(href="tel:+84965117114") 0965 117 114
				p Open: 9.00am - 6.00pm (Monday - Friday)
				p 
					a(href="mailto:info@dong-gia.com") info@dong-gia.com
			.col-lg.col-sm-6.nav
				h2.module-title Customer Service
				nav
					a(href="#") Care Info
					a(href="#") Shopping Guide
					a(href="#") Terms & Conditions
					a(href="#") Privacy Policy
					a(href="#") FAQ
					a(href="#") Contact
			.col-lg.col-sm-6.nav
				h2.module-title Contact
				nav
					a(href="#") Head Office & Showroom
					a(href="#") Retail shop & Warehouse
					a(href="#") Hanoi Store 
					a(href="#") Local Delivery
					a(href="#") Worldwide Delivery
			.col-lg-3.col-sm-6
				.receive-news
					.Module
						.subscribe
							div
								.subscribefrm
									input.subscribeemail(type='text', placeholder='Địa chỉ email')
									button.subscribebutton | Đăng ký
									span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập email.
									span.fa.fa-exclamation-triangle(style='display:none;') Email không hợp lệ.
					.Module
						.ModuleContent
							p Subscribe to receive updates, access to exclusive deals, and more.
				.social
					.Module
						.ModuleContent
							nav
								a(href="#")
									span.fab.fa-facebook-f
								a(href="#")
									span.fab.fa-instagram
								a(href="#")
									span.fab.fa-youtube
		.row.copyright
			.col
				p 
					span @ 2019 DONG GIA ENTERPRISE - CERAMICS & DÉCO OBJECTS.
					span ALL RIGHT RESERVED. DESIGN BY 
						a(href="https://canhcam.vn") CÁNH CAM.
		#gotop
			img(src="./img/arrow-up.png", alt="")