extends ../_layout.pug
block var
	- var title = "About"
	- var name = "product"
block main
	include ../../components/about/a-1/index.pug
	include ../../components/catalogue/c-2/index.pug
	include ../../components/product/list.pug