section.dg-product
	.bg-img 
		img(src="./img/banner/b-2.jpg", alt="")
		.container 
			.row 
				.col.product-item
					.product-conten
						h4 Good design for the way we eat, live, and connect. 
						h2 shop New Product 
					.product-button
						a.btn.btn-button(href="#") shop now 
							i.lnr.lnr-arrow-right