section.dg-ship 
	.container 
		h4 benefits of shopping at Dong Gia enterprise 
		h2 We Ship Worldwide 
		.row 
			.col.col-md-6.col-xl-3.ship-item 
				img(src="./img/icon/i-ship-1.png", alt="") 
				.ship-conten 
					h3 CUSTOMER SERVICE (DENMARK) 
					time Monday-Thursday 9.00 - 6.00 pm 
					p 0965 117 114 / info@dong-gia.com
			.col.col-md-6.col-xl-3.ship-item 
				img(src="./img/icon/i-ship-2.png", alt="") 
				.ship-conten 
					h3 CUSTOMER SERVICE (INTERNATIONAL)
					time Monday-Thursday 9.00 - 6.00 pm
					p 0965 117 114 / info@dong-gia.com
			.col.col-md-6.col-xl-3.ship-item 
				img(src="./img/icon/i-ship-1.png", alt="") 
				.ship-conten 
					h3 WORLDWIDE SHIPPING
					time Denmark 1-2 days &  Europa 5-7 days 
						br 
						|Other Countries 8-10 days
			.col.col-md-6.col-xl-3.ship-item 
				img(src="./img/icon/i-ship-2.png", alt="") 
				.ship-conten 
					h3 CUSTOMER SERVICE (DENMARK) 
					time Easy Refund / 14 days Returns