extends ../_layout.pug
block var
	- var title = "Colection"
	- var name = "colection"
block main
	include ../../components/about/a-1/index.pug 
	include ../../components/colection/a-2/index.pug
	include ../../components/colection/a-3/index.pug