section.dg-about-banner 
	.container 
		.row 
			.col.col-xl-6.bg-about-item 
				h2 Dong Gia Enterprise 
				h4 Dong Gia Enterprise is specialized in handcrafted high-quality reactive firing ceramics. Reactive firing technique bears with it the breath of history and has been around for more than 1000 years. However, it fades away gradually since the industrial revolution. 
				br
				p Benefiting from forty year experience in ceramics, Dong Gia Ceramics firstly installed the workshop in the Mekong Delta with the purpose of searching for natural high temperatures glazes using Vietnamese local minerals on both porcelain and on stoneware bodies. 
				p The current second workshop is now situated  in traditional ceramics village in the North of Vietnam which permits to produce the porcelain  with a contemporary design for giftware, tableware, tea ceremony and interior decor.
				p Nowadays, Dong Gia  is well-known for its beautiful unique handmade products limited in quantity. The production is under a very strict control to reach the best quality and the original beauty of glazes.
			.col.col-xl-6.bg-about-item 
				.swiper-container
					.swiper-wrapper
						.swiper-slide 
							.img
								img(src="./img/Collection/c-about-1.png", alt="")
						.swiper-slide 
							.img
								img(src="./img/Collection/c-about-2.png", alt="")
					.swiper-nav
						.swiper-prev
							em.lnr.lnr-arrow-left
						.swiper-next
							em.lnr.lnr-arrow-right