<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Sản phẩm liên quan - giỏ hàng" value="10" resourcefile="" />
    <add name="Sản phẩm đã xem" value="0" resourcefile="" />
    <add name="Sản phẩm trang chủ - bán chạy" value="1" resourcefile="" />
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />

  <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ProductListSale.xslt" name="Danh sách sản phẩm khuyến mãi" />

  <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />
</templates>