section.dg-colection-body 
	.container 
		h2 Glaze Collection 
		p Please Choose a colour to see The whole range
		.row 
			.col-6.col-lg-4.colection-item 
				a(href="#")
					.img 
						img(src="./img/Collection/colection-1.png", alt="") 
					h3 Aqua
			.col-6.col-lg-4.colection-item 
				a(href="#")
					.img 
						img(src="./img/Collection/colection-2.png", alt="") 
					h3 Aqua
			.col-6.col-lg-4.colection-item 
				a(href="#")
					.img 
						img(src="./img/Collection/colection-3.png", alt="") 
					h3 Aqua
			.col-6.col-lg-4.colection-item 
				a(href="#")
					.img 
						img(src="./img/Collection/colection-2.png", alt="") 
					h3 Aqua
			.col-6.col-lg-4.colection-item 
				a(href="#")
					.img 
						img(src="./img/Collection/colection-1.png", alt="") 
					h3 Aqua
			.col-6.col-lg-4.colection-item 
				a(href="#")
					.img 
						img(src="./img/Collection/colection-2.png", alt="") 
					h3 Aqua
			.col-6.col-lg-4.colection-item 
				a(href="#")
					.img 
						img(src="./img/Collection/colection-3.png", alt="") 
					h3 Aqua
			.col-6.col-lg-4.colection-item 
				a(href="#")
					.img 
						img(src="./img/Collection/colection-2.png", alt="") 
					h3 Aqua
		.pages
			.modulepager
				ul.pagination
					li.PagerOtherPageCells.active
						span.SelectedPage(title='Navigate to Page 1') 1
					li.PagerOtherPageCells
						a.ModulePager(title='Navigate to Page 2') 2
					li.PagerOtherPageCells
						a.ModulePager.NextPage(title='Next to Page 2') 3
					li.PagerOtherPageCells
						a.ModulePager.LastPage(title='Navigate to Last Page') 
							i.lnr.lnr-arrow-right
