<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
      <add name="footer service" value="2" resourcefile="" />
      <add name="footer Contact" value="4" resourcefile="" />
      <add name="Home collection" value="8" resourcefile="" />
      <add name="Nav Menu" value="16" resourcefile="" />
      <!-- <add name="Sản phẩm nổi bật" value="32" resourcefile="" /> -->
    </position>

</settings>