.dg-breadcrumb 
	background: #f7f2ee
	padding: 20px 0
	.breadcrumb 
		ul
			padding: 0
			margin: 0
			list-style-type: none
			display: flex
		li
			+ li
				margin-left: -4px
			&:not(:last-child):after
				content: '/'
				margin: 0 .5rem
				font-size: 14px
				color: rgb(153, 153, 153)
		a
			font-size: 15px
			color: rgb(153, 153, 153)